[user]
	email = nadia.chambers@iohk.io
	name = Nadia Yvette Chambers
	signingkey = 959C98C84A18F6C5
[commit]
	# gpgSign = false
	gpgSign = true
[core]
	editor = /run/current-system/sw/bin/vi
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	# helper = /usr/local/share/gcm-core/git-credential-manager-core
	helper = /run/current-system/sw/bin/git-credential-manager
	credentialStore = gpg
	helper = 
	helper = /nix/store/35hngj3wvlknsg6wfvq82pgravgdk21r-git-credential-manager-2.5.1/lib/git-credential-manager/git-credential-manager
[safe]
	directory = /nix/store/bbxzd4vn031qxmh0gsl45gqkkhks92hc-ede
	directory = /nix/store/61xii0x0l29xiq7hr6zj2fiv0ikb38xs-ede
[protocol "file"]
	allow = always
[gpg]
	program = /run/current-system/sw/bin/gpg
[log]
	showSignature = true
